

<div class="container">
  <div class="row justify-content-center">
    <div class="container">
        <div class="text-center">
            <img src="android-chrome-192x192.png" alt="Descripción de la imagen">
          </div>
        
        <h4 class="text-center mt-5">
          Bienvenidos al Instituto Educativo
        </h4>
        <h5 class="text-center">
          Aquí se podrán encontrar oportunidades de aprendizaje únicas
        </h5>
      
        <div class="row mt-4">
          <div class="col-md-8 mx-auto">
            <p class="text-center">
              Nuestro instituto ofrece una variedad de cursos diseñados para ayudar a los estudiantes a alcanzar sus metas académicas y profesionales. ¡Explora nuestras opciones y encuentra el curso perfecto para ti!
            </p>
          </div>
        </div>
      
        <div class="row mt-4">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Curso de Programación</h5>
                <p class="card-text">Aprende los fundamentos de la programación con nuestros expertos.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Curso de Diseño Gráfico</h5>
                <p class="card-text">Desarrolla tus habilidades creativas y técnicas en diseño gráfico.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Curso de Marketing Digital</h5>
                <p class="card-text">Domina las estrategias de marketing digital para impulsar tu carrera.</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="row mt-4">
          <div class="col-md-12 text-center">
            <a href="/cursos" class="btn btn-primary">Cursos</a>
          </div>
        </div>
      </div>
      
  </div>
</div>


