

  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="home" routerLink="/" [class]="'nav-link ' + activeWord('/')"   >Home</a></li>
        <li class="nav-item"><a  href="cursos" routerLink="/cursos" [class]="'nav-link ' + activeWord('/cursos')"   >Cursos</a></li>
        <li class="nav-item"> <a href="alumnos" routerLink="/alumnos" [class]="'nav-link ' + activeWord('/alumnos')"    >Alumnos</a></li>
        <li class="nav-item"><a href="temas" routerLink="/temas" [class]="'nav-link ' + activeWord('/temas')"  >Temas</a></li>
        <li class="nav-item"><a href="docentes" routerLink="/docentes" [class]="'nav-link ' + activeWord('/docentes')"  >Docentes</a></li>
      </ul>
   
    </header>

   
</div>