<div class="container">
    <h2>Lista de Temas</h2>
    <button class="btn btn-primary" (click)="nuevoTema()">Nuevo Tema</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tema of temas | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
          <td class="align-middle">{{ tema.id }}</td>
          <td class="align-middle">{{ tema.nombre }}</td>
          <td class="align-middle">{{ tema.descripcion }}</td>
          <td>
            <button class="btn btn-warning m-2" (click)="editarTema(tema)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger m-2" (click)="borrarTema(tema.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>


    
  </div>